{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
    <div class="container d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="card" style="width: 65rem; margin: 20px; padding-left: 0px; padding-right: 0px">
                <div class="card-header" style="text-align: center;">
                    <h5 class="card-title">Shipping</h5>
                </div>
                <div class="card-body">
                    <p>Thank you for using the quote request system, you will be emailed a copy of your quote request.</p>
                    <p>We will reach out to you soon regarding you quote.</p>
                    <p> - The Carolina Steel Fabrication Team</p>
                </div>
            </div>
            <div class="card" style="width: 65rem; margin: 20px; padding-left: 0px; padding-right: 0px">
                <div class="card-header" style="text-align: center;">
                    <h5 class="card-title">Our Steel</h5>
                </div>
                <div class="card-body">
                    <p>At Carolina Stainless Fabrication, we use AISI 304 Stainless Steel with a No. 4 finish due to its ideal properties fit for the food and beverage industry.
                        AISI 304 is a steel alloy that has tremendous resistance to corrosion and rust due to an oxide layer created by high chromium (18%) and nickel (8%) content.
                        This metal composition is non-reactive with a non-porous surface, meaning it prevents the material from transmitting any color, odor, or taste to products it encounters.
                        Aside from having high temperature tolerance and durability, ASIS 304 follows regulatory standards and requirements needed for food contact materials (FDA and NSF International).</p>
                </div>
            </div>
            <div class="card" style="width: 65rem; margin: 20px; padding-left: 0px; padding-right: 0px">
                <div class="card-header" style="text-align: center;">
                    <h5 class="card-title">Legal</h5>
                </div>
                <div class="card-body">
                    <p>All of our products have been investigated by UL in accordance with the standards of:</p>
                    <p>NFPA 70 National Electrical Code Sections 392.60(A) and 392.60(B) NEMA VE1 METAL CABLE AND TRAY SYSTEMS CSA C22.2 NO. 126.1-17 METAL CABLE TRAY SYSTEMS</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}