{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
    <div class="container d-flex justify-content-center">
        <div class="card" style="width: 40rem; margin: 20px">
            <div class="card-header align-text-center">
                <h5 class="card-title">Quote Request Sent</h5>
            </div>
            <div class="card-body align-text-center">
                <p>Thank you for using the quote request system, you will be emailed a copy of your quote request.</p>
                <p>We will reach out to you soon regarding you quote.</p>
                <p> - The Carolina Steel Fabrication Team</p>
            </div>
            <div class="card-footer">
              <a href="/products" class="btn btn-secondary"><span style="padding-right: 5px;">{% bs_icon 'arrow-left' %}</span>Return to Products</a>
            </div>
        </div>
    </div>
{% endblock %}